<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Earnings</li>
  </ol>
<% end %>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="3">By Age Group</td>
      <td>blah</td>
    </tr>
    <tr>
      <td>test</td>
    </tr>
  </tbody>
</table>