<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Buses", buses_path %></li>
    <li><%= link_to "Stop Time Exceptions", buses_timetable_stop_time_exceptions_path %>
    <li class="active">Edit Stop Time Exception</li>
  </ol>
<% end %>

<h2 class="page-header">Editing Stop Link Exception</h2>

<%= render 'form' %>