<%= render 'head' %>

<div id="container_transactions" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

<p>Source: <a href="http://gov.gg/article/112353/Quarterly-Residential-Property-Prices-and-Annual-Housing-Stock-Bulletins-2014">gov.gg</a> and <a href="http://gov.gg/property">gov.gg</a></p>
<p><em>Updated 12/11/2015</em></p>

<%= javascript_tag do %>
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {
    var yLabels = <%= @labels.to_json.html_safe %>;

    $('#container_transactions').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Transactions'
        },
        xAxis: {
            allowDecimals: false,
            categories: yLabels,
            title: {
                text: 'Quarter'
            }
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Transactions'
            }
        },
        plotOptions: {
            area: {
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Local',
            showInLegend: false,
            data: <%= @transactions.to_json.html_safe -%>
        }]
    });
}
<% end %>
