<tr>
  <td>
    <a class="category-inline-link" href="<%= target %>">
      <span class="category-small category-image <%= image %>"></span>
      <%= name %>
    </a>
  </td>
  <td><%= desc %></td>
</tr>