<tr>
  <td>
    <a class="category-inline-link" href="<%= target %>">
      <span class="category-small category-image <%= image %>"></span>
      <%= name %>
    </a>
  </td>
  <td>
    <span class="label label-primary">XML</span>
    <span class="label label-info">JSON</span>
    <span class="label label-warning">Embeddable HTML</span>
    <% if live %>
    <span class="label label-default">LIVE!</span>
    <% end %>
  </td>
  <td><%= desc %></td>
</tr>