<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Developers</li>
  </ol>
<% end %>

<div class="page-header">
<h1>Developers</h1>
</div>

