<%= render 'head' %>

<div class="row">
  <div class="col-md-3">
    <h4>Salary</h4>
    <p><strong>£ </strong><span data-bind="text: salary"></span></p>
  </div>

  <div class="col-md-6">  <div class="form-group">
    <label for="exampleInputEmail1">Salary (to be replaced with slider)</label>
    <input type="number" class="form-control" id="salaryInput" data-bind="value: salary" placeholder="Salary..." step="1000" min="0" max="500000">
  </div></div>

  <div class="col-md-3 text-right">
    <h4>Tax</h4>
    <p><strong>£ </strong><span data-bind="text: tax"></span></p>
  </div>
</div>


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2"><strong>Health and community services</strong><div data-bind="text: healthCommunityServices"></div></div>
  <div class="col-md-2"><strong>Pensions</strong><div data-bind="text: pensions"></div></div>
  <div class="col-md-2"><strong>Education</strong><div data-bind="text: education"></div></div>
  <div class="col-md-2"><strong>Social welfare benefits</strong><div data-bind="text: socialWelfareBenefits"></div></div>
  <div class="col-md-2"><strong>Order and Safety</strong><div data-bind="text: orderSafety"></div></div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2"><strong>Government and administration</strong><div data-bind="text: governmentAdministration"></div></div>
  <div class="col-md-2"><strong>Transfer to capital reserve</strong><div data-bind="text: transferCapitalReserve"></div></div>
  <div class="col-md-2"><strong>Land management infrastructure and transport</strong><div data-bind="text: landManagementInfrastructureTransport"></div></div>
  <div class="col-md-2"><strong>Economic development and tourism</strong><div data-bind="text: economicDevelopmentTourism"></div></div>
  <div class="col-md-2"><strong>Arts sport and culture</strong><div data-bind="text: artsSportCulture"></div></div>
  <div class="col-md-1"></div>
</div>



<script type="text/javascript" src="javascripts/slider.js"></script>
