<%= render 'head' %>

<div id="container_usage" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

<p>Source: <a href="https://www.gov.gg/buses">gov.gg</a></p>

<%= javascript_tag do %>

$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {
    var yLabels = <%= @labels.to_json.html_safe %>;

    $('#container_usage').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Usage per month'
        },
        xAxis: {
            allowDecimals: false,
            categories: yLabels,
            title: {
                text: 'Month'
            }
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Users'
            },
            labels: {
                formatter: function () {
                    return this.value / 1000 + 'k';
                }
            }
        },
        plotOptions: {
            area: {
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Local',
            showInLegend: false,
            data: <%= @users.to_json.html_safe -%>
        }]
    });
}
<% end %>