<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_index_path %></li>
    <li class="active">Housing</li>
  </ol>
<% end %>

<div class="page-header">
  <h1>Housing</h1>
</div>

