<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li class="active">Emissions</li>
  </ol>
<% end %>

<div class="page-header">
  <h1>Emissions</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align-middle" width="100%">
    <thead>
      <tr>
        <th>API</th>
        <th>Version</th>
        <th>Description</th>
        <th>Updated</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <%= render partial: 'developers/developers_list_item',
      locals: { name: 'Types', target: method(:api_v10_emissions_types_path), desc: 'Emissions since 1990 by type in kt for Carbon Dioxide and kt of CO2 equivalent for others', updated: '-' } %>
    </tbody>
  </table>
</div>

<p>Source: <%= link_to 'gov.gg', 'http://www.gov.gg/ghg' %></p>