<h2>Police Data</h2>
<h3>Crime and Proceedings</h3>
<div class="row">
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), crimes_api_v1_police_index_path(:format => "xml") %>
    XML
  </div>

  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), crimes_api_v1_police_index_path(:format => "json") %>
    JSON
  </div>
  <div class="col-md-4 padded-cell">
  <%= link_to image_tag("note-64x64.png"), crimes_api_v1_police_index_path(:format => "html") %>
    HTML
  </div>
</div>