<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>School</th>
      <th>Result</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <% @gcse_school.each do |f| %>
    <tr>
    <td><%= f['Year'] %></td>
    <td><%= f['School'] %></td>
    <td><%= f['Result'] %></td>
    <td><%= f['Percent'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>