<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Developers", developers_path %></li>
  <li class="active">Flights</li>
</ol>
<% end %>

<div class="page-header">
  <h1>Flights</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align-middle" width="100%">
    <thead>
      <tr>
        <th>API</th>
        <th>Version</th>
        <th>Description</th>
        <th>Updated</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <%= render partial: 'developers/developers_list_item',
     locals: { name: 'Arrivals', target: method(:api_v10_flights_arrivals_path), desc: 'Live arrival data from the Guernsey Airport',
     updated: 'live' } %>
     <%= render partial: 'developers/developers_list_item',
     locals: { name: 'Departures', target: method(:api_v10_flights_departures_path), desc: 'Live departure data from the Guernsey Airport',
     updated: 'live' } %>
   </tbody>
 </table>
</div>