<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Housing</li>
  </ol>
<% end %>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" id="myTabs">
      <li class="active"><a href="#median-average" data-toggle="pill">Median Average</a></li>
      <li><a href="#year-by-year" data-toggle="pill">Year-by-year</a></li>
      <li><a href="#average-vs-salaries" data-toggle="pill">Average vs. Salaries</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="tab-content col-md-12">
    <div class="tab-pane active" id="median-average">
      Test
    </div>
    <div class="tab-pane" id="year-by-year">
      year-by-year
    </div>
    <div class="tab-pane" id="average-vs-salaries">
      average vs salary
    </div>
  </div>
</div>