  <div class="row">
      <div class="col-sm-4 col-md-4">
          <a href="/maps/guernsey" class="category">
            <div class="category-detail">
              <h3><strong>Guernsey</strong></h3>
              <p>Maps of Guernsey</p>
            </div>
          </a>
      </div>
      <div class="col-sm-4 col-md-4"></div>
      <div class="col-sm-4 col-md-4"></div>
  </div>