<h3>What?</h3>

<p>data.gg is the brain-child of <a href="http://www.jasemagee.com/">Jason Magee</a> and 
  <a href="http://www.kieransenior.co.uk/">Kieran Senior</a> with the aim of providing all Bailiwick of Guernsey-related data
  to the public through an easily accessible API in many formats which suit those using it. Currently we support XML, JSON, HTML
  and soon we shall be supporting Object data formats along with gzipped formats of all.</p>

<h3>Why?</h3>
<p>Because we are far behind other places in the world, and to push forward with software we need one thing: data. The problem is
  that data isn't readily available and is hidden away in PDF files or random HTML pages with no apparent structure. We had many
  ideas we wanted to 'get out there' but for each project we needed an API to integrate with, and so data.gg was born.</p>