<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">About</li>
  </ol>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">About</h2>
    <p>data.gg is the brain-child of <a href="http://www.jasemagee.com/">Jason Magee</a> and
      <a href="http://www.kieransenior.co.uk/">Kieran Senior</a> with the aim of providing all Bailiwick of Guernsey-related data
      to the public through an easily accessible API in many formats which suit those using it. Currently we support XML, JSON, HTML
      and soon we shall be supporting Object data formats along with gzipped formats of all.</p>
  </div>
  <div class="col-md-6">
    <h2 class="text-center">The Reason</h2>
    <p>Because we are far behind other places in the world, and to push forward with software we need one thing: data. The problem is
      that data isn't readily available and is hidden away in PDF files or random HTML pages with no apparent structure. We had many
      ideas we wanted to 'get out there' but for each project we needed an API to integrate with, and so data.gg was born.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    
      <h2 class="text-center">Philosophy</h2>
      <p>We believe that we should live in a world where we are self-reliant, turning our dependencies from the government and instead
        relying on ourselves. We believe that each and every one of us has a unique set of expertise that can be used for the benefit
        of others, and data.gg is just one expression of that belief. Chief Minister Jon Le Tocq spoke of this more elegantly
        when he said:</p>
    
      <blockquote class="text-justify" style="margin-top:30px;"><p>It is, as all well know, increasingly unrealistic and unnecessary for the States to do everything. This is not a 
        financial argument, although of course it works in that perspective. It is also a realisation that there are people 
        with better expertise and understanding of what is needed on the Island, and how it can be most effectively and efficiently delivered.</p>
        <footer>Jonathan Le Tocq, Chief Minister, 2014</em> - <a href="http://www.gov.gg/article/114369/Chief-Minister-addresses-the-Association-of-Guernsey-Charities-and-the-agreed-Social-Compact">AGC speech</a></footer>
      </blockquote>
  </div>
</div>