<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Apps</li>
</ol>
<% end %>

<div class="page-header">
  <h1>Apps</h1>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <%= image_tag 'apps/flights.png', class: '' %>
    <h4>Guernsey Flights<br/><small>by Jason Magee</small></h4>
    <p class="lead"></p>
    <p><a href="https://play.google.com/store/apps/details?id=com.reformsoft.guernseyflights.app">Android</a> | <a href="http://www.amazon.co.uk/dp/B00KRM9FIE">Amazon (Android)</a> | <a href="https://itunes.apple.com/us/app/gsy-flights/id899069140?ls=1&mt=8">iOS</a></p>
  </div>

  <div class="col-md-4 text-center">
    <%= image_tag 'apps/sailings.png', class: '' %>
    <h4>Guernsey Sailings<br/><small>by Jason Magee</small></h4>
    <p class="lead"></p>
    <p><a href="https://play.google.com/store/apps/details?id=reformosft.guernseysailings&hl=en_GB">Android</a> | <a href="http://www.amazon.co.uk/dp/B00L9EQEG0">Amazon (Android)</a></p>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag 'apps/donkey.png', class: '' %>
    <h4>Data Donkey<br/><small>by Submarine</small></h4>
    <p class="lead"></p>
    <p><a href="https://play.google.com/store/apps/details?id=xdk.submarine.datadonkey&hl=en">Android</a> | <a href="http://www.windowsphone.com/en-nz/store/app/data-donkey/315012b7-758e-4ac0-a589-23e355198375">Windows Phone</a> | iOS Coming Soon.</p>
  </div>
</div>

<p>Have a mobile app, website or some software you'd like to list here? Get in touch!</p>