<%  content_for  :breadcrumb  do  %>
    <ol  class="breadcrumb">
        <li><%=  link_to  "Home",  root_path  %></li>
        <li  class="active">Charts</li>
    </ol>
<%  end  %>

<div  class="page-header">
    <h1>Charts</h1>
</div>

<%=  render  partial:  "charts_list"  %>