<% content_for :breadcrumb do %>
<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Contact</li>
</ol>
<% end %>

<div class="page-header">
  <h1>Contact</h1>
</div>

<p>For all enquires please contact <a href="mailto:contact@jasemagee.com">Jason Magee</a>.</p>