<%  content_for  :breadcrumb  do  %>
    <ol  class="breadcrumb">
        <li><%=  link_to  "Home",  root_path  %></li>
        <li  class="active">Contribute</li>
    </ol>
<%  end  %>

<div  class="page-header">
    <h1>Contribute</h1>
</div>

<h3>Code</h3>
<p>Please  feel  free  to  get  involved  at  <a  href="https://github.com/open-data-channel-islands/data.gg">https://github.com/open-data-channel-islands/data.gg</a>.
<h3>Data</h3>
<p>Pulling  data  out  of  PDFs  on  Guernsey  government  websites  takes  a  lot  of  time  but  anyone  can  do  it.  You  can  deliver  it  to  us  in  a  spreadsheet  format  or  go  one  step  further  and  deliver  it  as  JSON.  Up  to  you!</p>
<h3>Checking</h3>
<p>Pulling  data  out  of  PDFs  on  Guernsey  government  websites  manually  is  an  error  prone  process.  Check  our  data  against  the  source  and  let  us  know  if  you  find  any  problems.</p>
<h3>Charts</h3>
<p>Think  we've  used  the  wrong  chart  for  the  job?  Want  to  see  a  particular  comparison  chart?  Think  of  a  chart  we  haven't  done  yet?  Let  us  know!</p>

<div  class="page-header">
    <h2>Owners</h2>
</div>
<ul>
<li><a  href="http://jasemagee.com">Jason  Magee</a></li>
<li>Kieran  Senior</li>
</ul>
<div  class="page-header">
    <h2>Code  Contributors  <small>those  who  have  contributed  to  the  source  code</small></h2>
</div>
<ul>
<li><a  href="https://twitter.com/gringod">Adrian  Ritchie</a></li>
<li><a  href="https://twitter.com/alexcassells">Alex  Cassells</a></li>
<li><a  href="https://twitter.com/alextbush">Alex  Bush</a></li>
</ul>
<div  class="page-header">
    <h2>Data  Contributors  <small>those  who  have  gone  above  and  beyond  to  help  provide  data</small></h2>
</div>
<ul>
<li><a  href="http://www.gov.gg/pru">Policy  &  Research  Unit</a></li>
<li><a  href="http://www.digimap.gg/">Digimap</a></li>
<li><a  href="http://www.chestandheart.org.gg/">Chest  and  Heart</a></li>
</ul>