<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Contribute</li>
  </ol>
<% end %>

<div class="page-header">
  <h1>Contribute</h1>
</div>

<p>Please feel free to get involved at <a href="https://bitbucket.org/reformsoft/data.gg">https://bitbucket.org/reformsoft/data.gg</a>.

<div class="page-header">
  <h1>Owners</h1>
</div>
<ul>
<li><a href="http://jasemagee.com">Jason Magee</a></li>
<li>Kieran Senior</li>
</ul>
<div class="page-header">
  <h1>Contributors</h1>
</div>
<ul>
<li><a href="https://twitter.com/gringod">Adrian Ritchie</a></li>
<li><a href="https://twitter.com/alexcassells">Alex Cassells</a></li>
</ul>