<%  content_for  :breadcrumb  do  %>
    <ol  class="breadcrumb">
        <li><%=  link_to  "Home",  root_path  %></li>
        <li  class="active">Donate</li>
    </ol>
<%  end  %>


<div  class="page-header">
    <h1>Donate</h1>
</div>

<p  class="lead">data.gg  is  and  will  always  be  non-profit.</p>
<p>We're  investigating  ways  people  can  support  data.gg.  This  project  has  massive  scope  and  is  run  by  handful  of  people  in  their  spare  time.  With  more  resources,  more  time  can  be  dedicated  to  expanding  the  project.</p>