<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Help</li>
  </ol>
<% end %>


<div class="page-header">
  <h1>Help</h1>
</div>

<p>The help page will be filled up over time.</p>

<div class="page-header">
  <h2>FAQ</h2>
</div>

<h4>1. Can I use the data for my own project?</h4>
<p>Yes, it's your data.</p>