<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Help</li>
  </ol>
<% end %>


<div class="page-header">
  <h1>Help</h1>
</div>

<p class="lead">The help page will be filled up over time. Please visit our <a href="https://github.com/open-data-channel-islands/data.gg/wiki">Wiki</a>.</p>

<div class="page-header">
  <h2>FAQ</h2>
</div>

<h4>Can I use the data for my own project?</h4>
<p>Please check with the data supplier (usually found under the source link). Most of the data is pulled from the suppliers website and so available anyway. We suspect the answer is probably yes unless you're using it for a commercial project. Best bet is to contact the data supplier. Any licencing we explicity know about will be listed <a href="https://github.com/open-data-channel-islands/data.gg/wiki/Guernsey-Data-Licences">here</a>.</p>
<h4>Where does the data come from?</h4>
<p>See <a href="https://github.com/open-data-channel-islands/data.gg/wiki/Guernsey-Data-Sources">here</a>.</p>
<h4>How up-to-date is the data?</h4>
<p>We try to keep it as up-to-date as possible. Unfortunately we work full time and it is not always possible to be on top of all updates. If you spot any out-of-date data, <b>please</b> let us know!</p>