<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Help</li>
  </ol>
<% end %>


<div class="page-header">
  <h1>Help</h1>
</div>

<p>The help page will be filled up over time.</p>

<div class="page-header">
  <h2>FAQ</h2>
</div>

<h4>1. Can I use the data for my own project?</h4>
<p>Please check with the data supplier (usually found under the source link). Most of the data is pulled from the suppliers website and so available anyway. We suspect the answer is probably yes unless you're using it for a commercial project. Best bet is to contact the data supplier.</p>