<div class="jumbotron">
  <div class="container">
    <h1>data.gg</h1>
    <p>Test</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Buses</h2>
    <p>All stop and route timetable information is fully available through XML, JSON, HTML and object data formats.</p>
    <p>Variations for emergency roadworks and diversions are also available and access to past and future timetables.</p>
  </div>
</div>