<div class="jumbotron">
  <div class="container">
    <h1>One API, All The Data.</h1>
    <h3>Get the data you need for your apps and websites, any place, any time.</h3>
    <p>data.gg is open source, get involved <%= link_to 'here!', 'https://bitbucket.org/reformsoft/data.gg' %></p>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-4">
        <h2><%= link_to 'Flights', api_v1_flights_path %></h2>
        <p>Flight details refreshed on the fly from the Guernsey Airport</p>
    </div>
      <div class="col-md-4">
        <h2><%= link_to 'Police', api_v1_police_index_path %></h2>
        <p>Police and crime</p>
    </div>
          <div class="col-md-4">
        <h2><%= link_to 'Population', api_v1_population_index_path %></h2>
        <p>Guernsey population data</p>
    </div>
  </div>
</div>