<div class="jumbotron">
  <div class="container">
    <h1>One API, All The Data.</h1>
    <h3>Get the data you need for your apps and websites, any place, any time.</h3>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-4">
        <h2><%= link_to 'Flights', flights_path %></h2>
        <p>Flight details refreshed on the fly from the Guernsey Airport</p>
    </div>
  </div>
</div>