<%  content_for  :breadcrumb  do  %>
    <ol  class="breadcrumb">
        <li><%=  link_to  "Home",  root_path  %></li>
        <li  class="active">Research  &amp;  Development</li>
    </ol>
<%  end  %>


<div  class="page-header">
    <h1>Research  &amp;  Development</h1>
</div>

<p  class="lead"><span  class="rd-category  category-image  i-883-beaker-2x"></span>Welcome  to  the  R&amp;D  department!  This  area  has  no  particular  goal  beyond  experimenting  with  ways  to  collect  data  and  use  data.</p>

<div  class="row">
<div  class="col-md-6"><%=  image_tag  'rd/xyz-cloud.png',  class:  'img-responsive'  %></div>
<div  class="col-md-6"><%=  image_tag  'rd/heightmap.png',  class:  'img-responsive'  %></div>
</div>

<div  class="row">
<div  class="col-md-6"><%=  image_tag  'rd/martello-tower.png',  class:  'img-responsive'  %></div>
<div  class="col-md-6"></div>
</div>