  <div class="col-sm-4 col-md-4">
    <a href="<%= target %>" class="category">
      <div class="category-image <%= image %>"></div>
      <div class="category-detail">
        <h3><strong><%= name %></strong></h3>
        <p><%= desc %></p>
      </div>
    </a>
  </div>