<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Charts</li>
  </ol>
<% end %>

<p class="lead text-center">Data, visualised.</p>