<%= render 'head' %>

<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Local Market</th>
      <th>Open Market</th>
    </tr>
  </thead>
  <tbody>
    <% @units.each do |f| %>
      <tr>
        <td><%= f['Year'] %></td>
        <td><%= f['Local Market'] %></td>
        <td><%= f['Open Market'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>