<%  content_for  :breadcrumb  do  %>
    <ol  class="breadcrumb">
        <li><%=  link_to  "Home",  root_path  %></li>
        <li  class="active">Population</li>
    </ol>
<%  end  %>

<h2>Population</h2>
<h3>Population  by  Age  Group</h3>
<div  class="row">
    <div  class="col-md-4  padded-cell">
    XML  Coming  Soon
    </div>
    <div  class="col-md-4  padded-cell">
    <%=  link_to  image_tag("note-64x64.png"),  api_v1_population_population_path(:format  =>  "json")  %>
        JSON
    </div>
    <div  class="col-md-4  padded-cell">
    <%=  link_to  image_tag("note-64x64.png"),  api_v1_population_population_path(:format  =>  "html")  %>
        HTML
    </div>
</div>

<h3>Source</h3>
<%=  link_to  'gov.gg  Website',  'http://www.gov.gg/population'  %>

<h3>Chart  Examples</h3>
