<h2>Population</h2>
<h3>Population by Age Group</h3>
<div class="row">
  <div class="col-md-4">
  XML Coming Soon
  </div>

  <div class="col-md-4">
  <%= link_to image_tag("note-64x64.png"), population_api_v1_population_index_path(:format => "json") %>
    JSON
  </div>
  <div class="col-md-4">
  <%= link_to image_tag("note-64x64.png"), population_api_v1_population_index_path(:format => "html") %>
    HTML
  </div>
</div>