<%  content_for  :breadcrumb  do  %>
    <ol  class="breadcrumb">
        <li><%=  link_to  "Home",  root_path  %></li>
        <li><%=  link_to  "Developers",  developers_path  %></li>
        <li><%=  link_to  "Tourism",  developers_data_category_path(data_category:  'tourism')  %></li>
        <li  class="active"><%=  @title  %></a>
    </ol>
<%  end  %>