<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Charts", charts_index_path %></li>
    <li class="active">Education</li>
  </ol>
<% end %>

