/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "categories";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic);


body div.navbar, .navbar-fixed-top {
  margin-bottom:0;
}

.navbar.navbar-inverse {
  background-color:#424242;
}

.navbar.navbar-inverse a, .navbar.navbar-inverse a:visited,
.navbar.navbar-inverse a:active,
.navbar.navbar-inverse a:link {
  color:#E9E9E9;
}

.navbar.navbar-inverse a:hover,
.navbar.navbar-inverse a:visited:hover,
.navbar.navbar-inverse a:active:hover,
.navbar.navbar-inverse a:link:hover {
  color:#FFF;
}

.carousel-caption-data {
  color: black;
   a {
    color:#0021DA;
   }
}

table.vertical-align-middle tbody tr td {
  vertical-align:middle;
}

.jumbotron {
  padding-bottom:0;
  margin-bottom:0;
  background-color:#3299BB;
  border-bottom:1px solid #2A7F9C;
}

.jumbotron h2 {
  color:#FFF;
  text-shadow:1px 1px #555;
  margin-top:30px;
}

.jumbotron h3 {
  color:#FFF;
  text-shadow:1px 1px #555;
  padding-bottom:0;
  margin-bottom:20px;
  line-height:1.4em;
}

.front-page-feature-triangles {
  background-image:image-url("gplaypattern.png");
  padding-bottom:30px
}


#footer {
  padding:30px 0;
  margin-top:30px;
}

#footer {
  background-color: #f5f5f5;
}

#footer ul {
  margin:0;
  padding:0;
}

#footer ul li  {
  list-style-type:none;
}



.padded-cell {
  padding: 10px;
}

.extra-bottom-space {
  margin-bottom:20px;
}

.large-text {
  font-size:120%;
}

body {
  font-family:'Roboto', sans-serif;
  padding-top:50px;
}

.carousel-indicators li {
  border:1px solid #444;
}


h2.faint-heading {
  text-align:center;
  margin:30px 0;
  text-transform:uppercase;
  color:#AAA;
  font-weight:100;
  font-size:1.4em;
  padding:0 12px;
}

ol.breadcrumb {
  margin:0;
  padding:8px 0;
  background:transparent;
}

#breadcrumb {
  background-color:#E9E9E9;
  padding:0px;
}

.label-format {
  margin: 5px;
}

.front-page-bus-labels {
  margin:0 3px 0 10px;
  width:15px;
  height:15px;
}

