/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'catfont';
    src:url('/assets/catfont.eot');
    src:url('/assets/catfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/catfont.svg#catfont') format('svg'),
        url('/assets/catfont.woff') format('woff'),
        url('/assets/catfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body div.navbar, .navbar-fixed-top {
  margin-bottom:0;
}

.navbar.navbar-inverse {
  background-color:#424242;
}

.navbar.navbar-inverse a, .navbar.navbar-inverse a:visited,
.navbar.navbar-inverse a:active,
.navbar.navbar-inverse a:link {
  color:#E9E9E9;
}

.navbar.navbar-inverse a:hover,
.navbar.navbar-inverse a:visited:hover,
.navbar.navbar-inverse a:active:hover,
.navbar.navbar-inverse a:link:hover {
  color:#FFF;
}

.carousel-caption-data {
  color: black;
   a {
    color:#0021DA;
   }
}


.category-image {
  font-family: 'catfont'; /* Reference your custom font */
  speak: none; /* Ensure screenreaders skip over what is essentially garbage to them. */
  -webkit-font-smoothing: antialiased; /* Force antialiasing */
  font-style: normal;
  font-weight: normal;
  font-size:24px;
  text-align:center;
  width:30px;
  display:inline;
  float:left;
}

.category-inline-link {
  padding-left:8px;
  font-size:114%;
  vertical-align:middle;
}


.category-finance.category-small {

}

.category-small {
  font-size:20px;
}

table.vertical-align-middle tbody tr td {
  vertical-align:middle;
}


.category-housing:before { content: "\e601"; }
.category:hover .category-housing:before { content: "\e600";}

.category-buses:before { content: "\e603"; }
.category:hover .category-buses:before { content: "\e602";  }

.category-finance:before { content: "\e605"; }
.category:hover .category-finance:before { content: "\e604"; }

.category-police:before { content: "\e607"; }
.category:hover .category-police:before { content: "\e606"; }

.category-flights:before { content: "\e609"; }
.category:hover .category-flights:before { content: "\e608"; }

.category-population:before { content: "\e60b";  }
.category:hover .category-population:before { content: "\e60a"; }

.category-education:before { content: "\e60d"; }
.category:hover .category-education:before { content: "\e60c"; }

.category-sailings:before { content: "\e610"; }
.category:hover .category-sailings:before { content: "\e611"; }

a.category:hover {
  background-color:#428bca;
  color:#FFF;
  text-decoration:none;
}

.category {
  padding:10px;
  border-radius:3px;
  border:1px solid #428bca;
  display:block;
  background-color:#F2F9FF;
  margin-bottom:10px;
}

.category-detail {
  margin:0;
  margin-left:40px;
}

.category-detail p { margin:0; }

.category-detail h3 {
  margin-top:0px;
  margin-bottom:5px;
  font-size:1.4em;
}

.jumbotron {
  padding-bottom:0;
  margin-bottom:0;
  background-color:#3299BB;
  border-bottom:1px solid #2A7F9C;
}

.jumbotron h2 {
  color:#FFF;
  text-shadow:1px 1px #555;
  margin-top:30px;
}

.jumbotron h3 {
  color:#FFF;
  text-shadow:1px 1px #555;
  padding-bottom:0;
  margin-bottom:20px;
  line-height:1.4em;
}

.front-page-feature-triangles {
  background-image:image-url("gplaypattern.png");
  padding-bottom:30px
}


#footer {
  padding:30px 0;
  margin-top:30px;
}

#footer {
  background-color: #f5f5f5;
}

#footer ul {
  margin:0;
  padding:0;
}

#footer ul li  {
  list-style-type:none;
}



.padded-cell {
  padding: 10px;
}

.extra-bottom-space {
  margin-bottom:20px;
}

.large-text {
  font-size:120%;
}

body {
  font-family:'Roboto', sans-serif;
  padding-top:50px;
}

.carousel-indicators li {
  border:1px solid #444;
}


h2.faint-heading {
  text-align:center;
  margin:30px 0;
  text-transform:uppercase;
  color:#AAA;
  font-weight:100;
  font-size:1.4em;
  padding:0 12px;
}

ol.breadcrumb {
  margin:0;
  padding:8px 0;
  background:transparent;
}
#breadcrumb {
  background-color:#E9E9E9;
  padding:0px;
}

