/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

@font-face {  
    font-family: 'catfont';  
    src:url('/assets/catfont.eot');  
    src:url('/assets/catfont.eot?#iefix') format('embedded-opentype'),  
        url('/assets/catfont.svg#catfont') format('svg'),  
        url('/assets/catfont.woff') format('woff'),  
        url('/assets/catfont.ttf') format('truetype');  
    font-weight: normal;  
    font-style: normal;  
}  

.navbar.navbar-inverse {
  background-color:#424242;
}

.navbar.navbar-inverse a, .navbar.navbar-inverse a:visited,
.navbar.navbar-inverse a:active,
.navbar.navbar-inverse a:link {
  color:#E9E9E9;
}

.navbar.navbar-inverse a:hover,
.navbar.navbar-inverse a:visited:hover,
.navbar.navbar-inverse a:active:hover,
.navbar.navbar-inverse a:link:hover {
  color:#FFF;
}


.category-image:before {
  font-family: 'catfont'; /* Reference your custom font */  
  speak: none; /* Ensure screenreaders skip over what is essentially garbage to them. */  
  -webkit-font-smoothing: antialiased; /* Force antialiasing */  
  font-style: normal;  
  font-weight: normal;
  font-size:25px;
  display:inline;
  float:left;
}

.category-housing .category-image:before { content: "\e601"; }
.category-housing:hover .category-image:before { content: "\e600";}
.category-buses .category-image:before { content: "\e603"; }
.category-buses:hover .category-image:before { content: "\e602"; }
.category-finance .category-image:before { content: "\e605"; font-size:25px; }
.category-finance:hover .category-image:before { content: "\e604"; }
.category-police .category-image:before { content: "\e607"; }
.category-police:hover .category-image:before { content: "\e606"; }
.category-transport .category-image:before { content: "\e609"; }
.category-transport:hover .category-image:before { content: "\e608"; }
.category-population .category-image:before { content: "\e60b"; font-size:22px; }
.category-population:hover .category-image:before { content: "\e60a"; }
.category-education .category-image:before { content: "\e60d"; font-size:25px; }
.category-education:hover .category-image:before { content: "\e60c"; }

a.category:hover {
  background-color:#428bca;
  color:#FFF;
  text-decoration:none;
}

.category {
  padding:10px;
  border-radius:3px;
  border:1px solid #428bca;
  display:block;
  background-color:#F2F9FF;
  margin-bottom:10px;
}

.category-detail {
  margin:0;
  margin-left:40px;
}

.category-detail p { margin:0; }

.category-detail h3 {
  margin-top:0px;
  margin-bottom:5px;
  font-size:1.4em;
}

div.jumbotron {
  padding-bottom:0;
  margin-bottom:0;
  background-color:#3299BB;
  border-bottom:1px solid #2A7F9C;
}


#footer {
  padding:30px 0;
  margin-top:30px;
}

#footer {
  background-color: #f5f5f5;
}

#footer ul {
  margin-top:20px;
}

#footer ul li  {
  list-style-type:none;
}



.padded-cell {
  padding: 10px;
}



body {
  font-family:'Roboto', sans-serif;
}

h2.faint-heading {
  text-align:center;
  margin:30px 0;
  text-transform:uppercase;
  color:#AAA;
  font-weight:100;
  font-size:1.4em;
  padding:0 12px;
}

ol.breadcrumb {
  margin:0;
  padding:8px 0;
  background:transparent;
}
#breadcrumb {
  background-color:#E9E9E9;
  padding:0px;
  margin-bottom:10px;
}

