@font-face  {
    font-family:  "icons";
    src:  url(font-path("icons.eot"));
    src:  url(font-path("icons.eot?#iefix"))  format("embedded-opentype"),
              url(font-path("icons.woff"))  format("woff"),
              url(font-path("icons.ttf"))  format("truetype"),
              url(font-path("icons.svg#icons"))  format("svg");
    font-weight:  normal;
    font-style:  normal;
}

@media  screen  and  (-webkit-min-device-pixel-ratio:0)  {
    @font-face  {
        font-family:  "icons";
        src:  url("../fonts/icons.svg#icons")  format("svg");
    }
}



.category-image  {
    speak:  none;  /*  Ensure  screenreaders  skip  over  what  is  essentially  garbage  to  them.  */
    font-size:24px;
    text-align:center;
    width:30px;
    display:inline;
    float:left;
}

.category-inline-link  {
    padding-left:8px;
    font-size:114%;
    vertical-align:middle;
}


.category-finance.category-small  {

}

[data-icon]:before  {  content:  attr(data-icon);  }

[data-icon]:before,
.i-1022-factory-2x:before,
.i-1022-factory-selected-2x:before,
.i-1029-fish-2x:before,
.i-1029-fish-selected-2x:before,
.i-1032-route-2x:before,
.i-1032-route-selected-2x:before,
.i-1090-ping-pong-paddle-2x:before,
.i-1090-ping-pong-paddle-selected-2x:before,
.i-1094-sail-boat-2-2x:before,
.i-1094-sail-boat-2-selected-2x:before,
.i-485-facebook:before,
.i-488-github:before,
.i-490-google-plus:before,
.i-498-twitter:before,
.i-750-home-2x:before,
.i-750-home-selected-2x:before,
.i-754-scale-2x:before,
.i-754-scale-selected-2x:before,
.i-776-recycle-2x:before,
.i-776-recycle-selected-2x:before,
.i-780-building-2x:before,
.i-780-building-selected-2x:before,
.i-789-map-location-2x:before,
.i-789-map-location-selected-2x:before,
.i-798-filter-2x:before,
.i-798-filter-selected-2x:before,
.i-814-bus-2x:before,
.i-814-bus-selected-2x:before,
.i-815-car-2x:before,
.i-815-car-selected-2x:before,
.i-826-money-1-2x:before,
.i-826-money-1-selected-2x:before,
.i-827-money-2-2x:before,
.i-827-money-2-selected-2x:before,
.i-828-shield-2x:before,
.i-828-shield-selected-2x:before,
.i-862-sun-cloud-2x:before,
.i-862-sun-cloud-selected-2x:before,
.i-881-globe-2x:before,
.i-881-globe-selected-2x:before,
.i-883-beaker-2x:before,
.i-892-bandaid-2x:before,
.i-892-bandaid-selected-2x:before,
.i-893-airplane-2x:before,
.i-893-airplane-selected-2x:before,
.i-895-user-group-2x:before,
.i-895-user-group-selected-2x:before,
.i-897-graduation-cap-2x:before,
.i-897-graduation-cap-selected-2x:before,
.i-917-speedometer-2x:before,
.i-917-speedometer-selected-2x:before,
.i-923-spray-can-2x:before,
.i-923-spray-can-selected-2x:before,
.i-931-gas-pump-2x:before,
.i-931-gas-pump-selected-2x:before,
.i-934-measuring-cup-2x:before,
.i-934-measuring-cup-selected-2x:before,
.i-937-wifi-signal-2x:before,
.i-937-wifi-signal-selected-2x:before,
.i-950-ekg-2x:before,
.i-950-ekg-selected-2x:before,
.i-958-life-preserver-2x:before,
.i-958-life-preserver-selected-2x:before,
.i-965-lightning-bolt-2x:before,
.i-965-lightning-bolt-selected-2x:before  {
    display:  inline-block;
    font-family:  "icons";
    font-style:  normal;
    font-weight:  normal;
    font-variant:  normal;
    line-height:  1;
    text-decoration:  inherit;
    text-rendering:  optimizeLegibility;
    text-transform:  none;
    -moz-osx-font-smoothing:  grayscale;
    -webkit-font-smoothing:  antialiased;
    font-smoothing:  antialiased;
}

.i-1022-factory-2x:before  {  content:  "\f128";  }
.i-1022-factory-selected-2x:before  {  content:  "\f129";  }
.i-1029-fish-2x:before  {  content:  "\f13a";  }
.i-1029-fish-selected-2x:before  {  content:  "\f13b";  }
.i-1032-route-2x:before  {  content:  "\f11c";  }
.i-1032-route-selected-2x:before  {  content:  "\f11d";  }
.i-1090-ping-pong-paddle-2x:before  {  content:  "\f11e";  }
.i-1090-ping-pong-paddle-selected-2x:before  {  content:  "\f11f";  }
.i-1094-sail-boat-2-2x:before  {  content:  "\f100";  }
.i-1094-sail-boat-2-selected-2x:before  {  content:  "\f101";  }
.i-485-facebook:before  {  content:  "\f136";  }
.i-488-github:before  {  content:  "\f137";  }
.i-490-google-plus:before  {  content:  "\f138";  }
.i-498-twitter:before  {  content:  "\f139";  }
.i-750-home-2x:before  {  content:  "\f102";  }
.i-750-home-selected-2x:before  {  content:  "\f103";  }
.i-754-scale-2x:before  {  content:  "\f104";  }
.i-754-scale-selected-2x:before  {  content:  "\f105";  }
.i-776-recycle-2x:before  {  content:  "\f118";  }
.i-776-recycle-selected-2x:before  {  content:  "\f119";  }
.i-780-building-2x:before  {  content:  "\f12a";  }
.i-780-building-selected-2x:before  {  content:  "\f12b";  }
.i-789-map-location-2x:before  {  content:  "\f106";  }
.i-789-map-location-selected-2x:before  {  content:  "\f107";  }
.i-798-filter-2x:before  {  content:  "\f13f";  }
.i-798-filter-selected-2x:before  {  content:  "\f140";  }
.i-814-bus-2x:before  {  content:  "\f108";  }
.i-814-bus-selected-2x:before  {  content:  "\f109";  }
.i-815-car-2x:before  {  content:  "\f10a";  }
.i-815-car-selected-2x:before  {  content:  "\f10b";  }
.i-826-money-1-2x:before  {  content:  "\f10c";  }
.i-826-money-1-selected-2x:before  {  content:  "\f10d";  }
.i-827-money-2-2x:before  {  content:  "\f120";  }
.i-827-money-2-selected-2x:before  {  content:  "\f121";  }
.i-828-shield-2x:before  {  content:  "\f10e";  }
.i-828-shield-selected-2x:before  {  content:  "\f10f";  }
.i-862-sun-cloud-2x:before  {  content:  "\f122";  }
.i-862-sun-cloud-selected-2x:before  {  content:  "\f123";  }
.i-881-globe-2x:before  {  content:  "\f130";  }
.i-881-globe-selected-2x:before  {  content:  "\f131";  }
.i-883-beaker-2x:before  {  content:  "\f13e";  }
.i-892-bandaid-2x:before  {  content:  "\f11a";  }
.i-892-bandaid-selected-2x:before  {  content:  "\f11b";  }
.i-893-airplane-2x:before  {  content:  "\f110";  }
.i-893-airplane-selected-2x:before  {  content:  "\f111";  }
.i-895-user-group-2x:before  {  content:  "\f112";  }
.i-895-user-group-selected-2x:before  {  content:  "\f113";  }
.i-897-graduation-cap-2x:before  {  content:  "\f114";  }
.i-897-graduation-cap-selected-2x:before  {  content:  "\f115";  }
.i-917-speedometer-2x:before  {  content:  "\f13c";  }
.i-917-speedometer-selected-2x:before  {  content:  "\f13d";  }
.i-923-spray-can-2x:before  {  content:  "\f132";  }
.i-923-spray-can-selected-2x:before  {  content:  "\f133";  }
.i-931-gas-pump-2x:before  {  content:  "\f124";  }
.i-931-gas-pump-selected-2x:before  {  content:  "\f125";  }
.i-934-measuring-cup-2x:before  {  content:  "\f12c";  }
.i-934-measuring-cup-selected-2x:before  {  content:  "\f12d";  }
.i-937-wifi-signal-2x:before  {  content:  "\f126";  }
.i-937-wifi-signal-selected-2x:before  {  content:  "\f127";  }
.i-950-ekg-2x:before  {  content:  "\f134";  }
.i-950-ekg-selected-2x:before  {  content:  "\f135";  }
.i-958-life-preserver-2x:before  {  content:  "\f116";  }
.i-958-life-preserver-selected-2x:before  {  content:  "\f117";  }
.i-965-lightning-bolt-2x:before  {  content:  "\f12e";  }
.i-965-lightning-bolt-selected-2x:before  {  content:  "\f12f";  }

.category:hover  .i-1022-factory-2x:before  {  content:  "\f129";  }
.category:hover  .i-1029-fish-2x:before  {  content:  "\f13b";  }
.category:hover  .i-1032-route-2x:before  {  content:  "\f11d";  }
.category:hover  .i-1090-ping-pong-paddle-2x:before  {  content:  "\f11f";  }
.category:hover  .i-1094-sail-boat-2-2x:before  {  content:  "\f101";  }
.category:hover  .i-750-home-2x:before  {  content:  "\f103";  }
.category:hover  .i-754-scale-2x:before  {  content:  "\f105";  }
.category:hover  .i-776-recycle-2x:before  {  content:  "\f119";  }
.category:hover  .i-780-building-2x:before  {  content:  "\f12b";  }
.category:hover  .i-789-map-location-2x:before  {  content:  "\f107";  }
.category:hover  .i-798-filter-2x:before  {  content:  "\f140";  }
.category:hover  .i-814-bus-2x:before  {  content:  "\f109";  }
.category:hover  .i-815-car-2x:before  {  content:  "\f10b";  }
.category:hover  .i-826-money-1-2x:before  {  content:  "\f10d";  }
.category:hover  .i-827-money-2-2x:before  {  content:  "\f121";  }
.category:hover  .i-828-shield-2x:before  {  content:  "\f10f";  }
.category:hover  .i-862-sun-cloud-2x:before  {  content:  "\f123";  }
.category:hover  .i-881-globe-2x:before  {  content:  "\f131";  }
.category:hover  .i-892-bandaid-2x:before  {  content:  "\f11b";  }
.category:hover  .i-893-airplane-2x:before  {  content:  "\f111";  }
.category:hover  .i-895-user-group-2x:before  {  content:  "\f113";  }
.category:hover  .i-897-graduation-cap-2x:before  {  content:  "\f115";  }
.category:hover  .i-917-speedometer-2x:before  {  content:  "\f13d";  }
.category:hover  .i-923-spray-can-2x:before  {  content:  "\f133";  }
.category:hover  .i-931-gas-pump-2x:before  {  content:  "\f125";  }
.category:hover  .i-934-measuring-cup-2x:before  {  content:  "\f12d";  }
.category:hover  .i-937-wifi-signal-2x:before  {  content:  "\f127";  }
.category:hover  .i-950-ekg-2x:before  {  content:  "\f135";  }
.category:hover  .i-958-life-preserver-2x:before  {  content:  "\f117";  }
.category:hover  .i-965-lightning-bolt-2x:before  {  content:  "\f12f";  }

a.category:hover  {
    background-color:#428bca;
    color:#FFF;
    text-decoration:none;
}

.category  {
    padding:10px;
    border-radius:3px;
    border:1px  solid  #428bca;
    display:block;
    background-color:#F2F9FF;
    margin-bottom:10px;
    height:  90px;
}

.category-image  {
    speak:  none;  /*  Ensure  screenreaders  skip  over  what  is  essentially  garbage  to  them.  */
    font-size:30px;
    text-align:center;
    display:inline;
    float:left;
    width:  30px;
}

.category-small  {
    font-size:22px;
}

.social-category  {
    margin:  1rem;
}

.rd-category  {
    margin-right  :  2rem;
    font-size:  42px;
}

.category-detail  {
    margin:0;
    margin-left:40px;
}

.category-detail  p  {  margin:0;  }

.category-detail  h3  {
    margin-top:0px;
    margin-bottom:5px;
    font-size:1.4em;
}