<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Charts", charts_path %></li>
    <li class="active">Traffic</li>
  </ol>
<% end %>

<div class="page-header">
<h1>Traffic</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Traffic</a></li>
  <li role="presentation"><a href="#">Collisions</a></li>
  <li role="presentation"><a href="#">Injuries</a></li>
  <li role="presentation"><a href="#">Classifications</a></li>
</ul>