<%= render 'head' %>

<div id="container_health_med_unit_bed_days_five_yr_avg_men" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
<div id="container_health_med_unit_bed_days_five_yr_avg_women" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

<p>Source: <a href="http://www.gov.gg/pru">gov.gg</a></p>

<%= javascript_tag do %>
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {
    $('#container_health_med_unit_bed_days_five_yr_avg_men').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Men'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Men',
            data: <%= @men.to_json.html_safe  %>
        }]
    });

    $('#container_health_med_unit_bed_days_five_yr_avg_women').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Women'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Women',
            data: <%= @women.to_json.html_safe  %>
        }]
    });
}
<% end %>