<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li><%= link_to "Weather", developers_weather_path %></li>
    <li class="active"><%= @title %></a>
  </ol>
<% end %>
