<h2>Create Timetable</h2>

<%= form_for [:buses, @timetable] do |f| %>
<tr>
  <td><%= f.text_field :name, {:tabindex => 1, :autofocus => true, :class => "form-control", :placeholder => "Timetable name"} %></td>
  <td><%= f.text_field :effective_date, {:tabindex => 2, :class => "form-control", :placeholder => "Effective date" } %></td>
  <td><%= f.submit "Create", { :class => "btn btn-default"} %></td>
</tr>
<% end %>