<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_index_path %></li>
    <li class="active">Earnings</li>
  </ol>
<% end %>

<div class="page-header">
<h1>Earnings</h1>
</div>