<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
    <li class="active">Overseas Aid</li>
  </ol>
<% end %>

<div class="page-header">
  <h1>Overseas Aid</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align-middle" width="100%">
    <thead>
      <tr>
        <th>API</th>
        <th>Version</th>
        <th>Description</th>
        <th>Updated</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <%= render partial: 'developers/developers_list_item',
      locals: { name: 'Overseas Aid', target: method(:api_v10_overseas_aid_contributions_path), desc: 'Aid and emergency relief sent overseas', updated: '15/10/2015' } %>
    </tbody>
  </table>
</div>

<p>Source: <%= link_to 'gov.gg', 'http://www.gov.gg/pru' %></p>