<%= render 'head' %>
<div id="container_key">
  <div class="panel panel-default">
    <div class="panel-heading" id="parish-name"></div>
    <div class="panel-body" id="parish-detail"></div>
  </div>
</div>
<div id="container_parish" style="display:block; margin:auto;text-align:center;">
  <%= raw(@svg) %>
</div>

<p>Source: <%= link_to 'gov.gg', 'http://www.gov.gg/population' %></p>
<p>&#169; States of Guernsey 2015</p>
<p><em>Updated 25/08/2015</em></p>


<script type="text/javascript">
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {

  var dict = {
    "path_alderney" : ["Alderney", "Population (2015): -"],
    "path_sark" : ["Sark", "Population (2015): -"],
    "path_herm" : ["Herm", "Population (2015): 79"],
    "path_torteval" : ["Torteval", "Population (2015): 1,013"],
    "path_st_pierre_du_bois" : ["St Pierre Du Bois", "Population (2015): 2,090"],
    "path_st_saviour" : ["St Saviour", "Population (2015): 2,745"],
    "path_forest" : ["Forest", "Population (2015): 1,589"],
    "path_st_andrew" : ["St Andrew", "Population (2015): 2,438"],
    "path_st_martin" : ["St Martin", "Population (2015): 6,457"],
    "path_st_peter_port" : ["St Peter Port", "Population (2015): 18,599"],
    "path_castel" : ["Castel", "Population (2015): 8,704"],
    "path_vale" : ["Vale", "Population (2015): 9,592"],
    "path_st_sampson" : ["St Sampson", "Population (2015): 8,980"],
  };



  $("[inkscape\\:label^=path_]").hover(function() {
      //$("[class^=text_]").attr("visibility","hidden");
      $("[inkscape\\:label^=path_]").css("fill","#cccccc");
     /* $("#parish-name").html("");
      $("#parish-detail").html("");*/


      /*alert($(this).attr('id'));*/
      var path_parish = $(this).attr("inkscape\:label");
      var parish = path_parish.substring(5, path_parish.length);
      //var selector = "[inkscape\\:label='text_" + parish + ']';

      $("[inkscape\\:label=" + path_parish + "]").css("fill","orange");

      $("#parish-name").html(dict[path_parish][0]);
      $("#parish-detail").html(dict[path_parish][1]);
    });


/*  $('#container_parish > svg > g > text:first').attr("visibility","shown");*/
 /* $('[class^=text_]').attr("visibility","shown");*/

}
</script>