<%= render 'head' %>
<h1>This map is work in progress!</h1>

<div id="container_parish" style="display:block; margin:auto;text-align:center;">
  <%= render partial: 'shared/gsy' %>
</div>

<p>Source: <%= link_to 'gov.gg', 'http://www.gov.gg/population' %></p>
<p><em>Updated 13/04/2015</em></p>



<script type="text/javascript">
$(function() {
  initPage();
});
$(window).bind('page:change', function() {
  initPage();
});

function initPage() {

  $('#container_parish > svg > g > path').hover(function() {

      $("[class^=text_]").attr("visibility","hidden");
      $("[class^=path_]").css("fill","#cccccc");

/*     debugger;*/
      /*alert($(this).attr('id'));*/
      var path_parish = $(this).attr('class');
      var parish = path_parish.substring(5, path_parish.length);
      var selector = '.text_' + parish;

/*       if ($(selector).length == 0) {
        alert(path_parish);
       } else {*/
        $(selector).attr("visibility","shown");
        $("." + path_parish).css("fill","green");
      /*}*/

    });


/*  $('#container_parish > svg > g > text:first').attr("visibility","shown");*/
 /* $('[class^=text_]').attr("visibility","shown");*/

}
</script>