<% content_for :breadcrumb do %>
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Developers", developers_index_path %></li>
    <li class="active">Buses</li>
  </ol>
<% end %>



Source: http://www.gov.gg/CHttpHandler.ashx?id=90675&p=0