<%= render 'head' %>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Height</th>
    </tr>
  </thead>
  <tbody>
    <% @tides.each do |t| %>
    <tr>
    <td><%= t['date'] %></td>
    <td><%= t['time'] %></td>
    <td><%= t['height'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>